footer
    div Gonzalez Fernando Daniel - Laboratorio II
    a(href="https://github.com/kaiserkey/lab2_fotasa" target="_blank" rel="noopener noreferrer") 
        img(src="https://github.githubassets.com/favicons/favicon.png" alt="github favicon")