div(class="navbar")
    a(href="#")
        i(class="fa fa-user-circle-o fa-pull-left") Usuario
    a(href="#")
        i(class="fa fa-fw fa-search fa-pull-left") Buscar
    a(href="#")
        i(class="fa fa-fw fa-envelope fa-pull-left") Crear
    a(href="#")
        i(class="fa fa-fw fa-user fa-pull-left") Entrar
    a#userRight(href="#")
        i(class="fa fa-times-circle-o fa-pull-left") Salir
