div(class="navbar")
    if(!user)
        navbar(class="invited-nav")
            a(href="/")
                img(src="/img/fotaza-logo.png")
                span Fotaza
            a(href="/signin" class="invited-login")
                i(class="fa fa-user" aria-hidden="true") Entrar
    else 
        navbar(class="user-nav")
            a(href="/")
                if(user.avatar)
                    img(src=`/avatars/${user.avatar}`)
                else 
                    img(src="/img/default-avatar.jpg")
                span= user.nickname || user.nombre
            a(href="/post/new")
                i(class="fa fa-fw fa-pencil-square-o" aria-hidden="true") Crear
            a(href="/post/user")
                i(class="fa fa-picture-o" aria-hidden="true") Mis Publicaciones
            div(class="search-nav-container")
                form(action="/user/search" method="GET") 
                    input(type="text" name="search" id="search" placeholder="Buscar..")
                    button(type='submit')
                        i(class="fa fa-search")
            
            a#userRight(href="/user/logout") 
                i(class="fa fa-times-circle-o" aria-hidden="true") Salir
            a#userRight(href="/user/profile") 
                i(class="fa fa-user" aria-hidden="true") Perfil
