div(class="navbar")
    a(class="active" href="#")
        i(class="fa fa-fw fa-home fa-pull-left") Inicio
    a(href="#")
        i(class="fa fa-fw fa-search fa-pull-left") Buscar
    a(href="#")
        i(class="fa fa-fw fa-envelope fa-pull-left") Crear
    a(href="#")
        i(class="fa fa-fw fa-user fa-pull-left") Login
    a#userRight(href="#")
        i(class="fa fa-user-circle-o fa-pull-left") Usuario
