doctype html
html(lang="es-ES")
    include ../Modules/head.pug
    body
        include ../Modules/nav.pug
        div(class="form-login")
            form(action="/signup" method="POST")
                div(class="info-signup")
                    div(id="error")
                    h1 Registrarse
                    p Rellena el siguiente formulario para registrarte.
                hr
                div(class="container")

                    label(for="nombre")
                        b Nombre 
                    input(type="text" name="nombre" placeholder="Nombre/s" required)
                    label(for="apellido")
                        b Apellido 
                    input(type="text" name="apellido" placeholder="Apellido/s" required)
                    label(for="fecha_nacimiento")
                        b Fecha de Nacimiento 
                    input(type="date" name="fecha_nacimiento" required)
                    label(for="email")
                        b Email 
                    input(type="email" name="email" placeholder="email@gmail.com" required)
                    label(for="password") 
                        b Contrase単a
                    input(type="password" name="password" placeholder="******" required)
                    
                    button(type='submit') Crear Cuenta
                div(class="container-ask")
                    div(class="signup") 多Ya Estas Registrado?
                        a(href="/signin") SignIn
        if(existUser)
            script. 
                var error = document.getElementById("error")
                error.innerHTML = "<p> El email ingresado ya se encuentra registrado </p>"
        if(err == "nombre")
            script. 
                var error = document.getElementById("error")
                error.innerHTML = "<p> El nombre es demasiado corto </p>"
        if(err == "password")
            script. 
                var error = document.getElementById("error")
                error.innerHTML = "<p> La contrase単a es demasiado corta </p>"
        if(err == "email")
            script. 
                var error = document.getElementById("error")
                error.innerHTML = "<p> El email es incorrecto </p>"
        if(err == "apellido")
            script. 
                var error = document.getElementById("error")
                error.innerHTML = "<p> El apellido es demasiado corto </p>"
        if(err == "fecha")
            script. 
                var error = document.getElementById("error")
                error.innerHTML = "<p> Usted debe ser mayor de 18 a単os </p>"

        include ../Modules/footer.pug