doctype html
html(lang="es-ES")
    include ../Modules/head.pug
    body

        section.error
            h3 Acceso No Autorizado
            img(src="/img/error_401_unauthorized.jpg" alt="error 404 page not found")
            a(href="#") 
                button(type='button') Inicio

        include ../Modules/footer.pug