doctype html
html(lang="es-ES")
    require('../Modules/head.pug')
    body
        require('../Modules/main.pug')

        img(src="/img/error_404_page_not_found.jpg" alt="error 404 page not found")

        require('../Modules/footer.pug')
