/* Estilos generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body{
    text-transform: capitalize;
    font-family: 'Roboto Mono', monospace;
    background-color: #e9e9e9;
}

/* Estilos de errores */
.error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    padding: 15px;
    margin: auto;
    width: 90%;
    height: min-content;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.error img{
    margin: auto;
    width: 40%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.error a {
    display: block;
    text-decoration: none;
    color: black;
    cursor: default;
}

.error button{
    font-family: 'Roboto Mono', monospace;
    background-color: #e60023;
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.error button:hover{
    cursor: pointer;
    background-color: #e6003aad;
}

/* Estilos del footer */

footer {
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #767676;
    color: #ffffff;
    text-align: center;
}

footer img{
    display: inline;
    position: absolute;
    bottom: 5px;
}

footer div{
    display: inline;
    padding-right: 10px;
}

/* Estilos de la barra de navegacion */

.navbar {
    width: 100%;
    background-color: #f3f3f3;
    overflow: auto;
    border: 2px solid #e7e7e7;
}

.user-nav img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user-nav span{
    width: 40px;
    height: min-content;
    float: left;
    text-align: center;
    font-size: 12px;
}

.user-nav .button-logout{
    background-color: #f3f3f3;
    padding: 10px;
    border: none;
}

.navbar  .user-nav #userRight{
    float:right; 
    margin-right:5px;
}

.navbar  .user-nav a {
    float: left;
    text-align: center;
    margin-right: 45px;
    padding: 15px;
    color: rgb(94, 92, 92);
    text-decoration: none;
    font-size: 18px;
}

.navbar  .user-nav a:hover {
    background-color: rgba(255, 0, 0, 0.7);
    padding-right: 60px;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navbar  .user-nav .search-nav-container {
    float: left;
}

.navbar  .user-nav input[type=text] {
    background-color: #e9e9e9;
    border: 2px #767676 solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 80%;
    border-right: none;
    border: 1px #767676 solid;
}

.navbar .user-nav a{
    margin-left: 5px;
}

.navbar  .user-nav  .search-nav-container button{
    float: right;
    width: 20%;
    padding: 9px;
    margin-top: 8px;
    background: #e60023;
    color: gray;
    font-size: 17px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    border: 1px #767676 solid;
    font-size: 18px;
}

.navbar  .user-nav  .search-nav-container button:hover{
    cursor: pointer;
    background-color: #e6003aad;
}

.navbar  .user-nav  .search-nav-container button::after {
    content: "";
    clear: both;
    display: flex;
}

.invited-nav {
    position: relative;
}

.invited-nav img{
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.invited-nav span{
    margin-top: 8px;
    float: left;
}

.invited-nav .invited-login{
    margin-top: 5px;
    float:right;
    margin-right: 10px;
}

.invited-nav a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: black;
    font-style: italic;
}

.invited-nav a:hover{
    background-color: rgba(255, 0, 0, 0.7);
    padding: 4px 10px 4px;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .navbar .search-nav-container {
        float: none;
    }
    .navbar a, .navbar input[type=text], .navbar .search-nav-container button {
        float: none;
        text-align: center;
        margin: 0;
    }
    .navbar input[type=text] {
        border: 1px solid #ccc;
    }
}


@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

/* Estilos de signin y signup */

.form-login {
    border: 3px solid gray;
    width: 500px;
    height: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container{
    height: 60%;
}


.form-login input[type=email], input[type=password], input[type=text], input[type=date], input[type=tel], input[type=email], input[type=datetime]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.form-login button {
    font-family: 'Roboto Mono', monospace;
    background-color: #e60023;
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.form-login button:hover {
    cursor: pointer;
    background-color: #e6003aad;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container-ask {
    padding: 16px;
    background-color: #d4d0d0;
}

.signup {
    padding: 10px;
    text-align: center;
    font-weight: 700;
}

.signup a {
    text-decoration: none;
    color: blue;
    margin-left: 5px;
}

.input-container {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
}

.icon {
    padding: 12.5px;
    background:#e60023;
    color: white;
    min-width: 30px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
}

.info-signup{
    padding: 10px;
}

.info-signup h1 {
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    form{
        width: 300px;
        height: min-content;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* Estilos de galeria de imagenes */

.default-image{
    width: 90%;
    margin: auto;
    text-align: center;
    position: relative;
}

.default-image img{
    width: 80%;
    height: min-content;
    background: linear-gradient(to bottom right, #1f57f0 16%,#c61fa3 51%,#ff4221 84%);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.8);
}

.default-text{
    font-style: italic;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-size: 15px;
    border: 5px solid #f1f1f1;
    position: absolute;
    width: 40%;
    padding: 15px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.container #most-like img{
    border: 2px solid gold;
}

.container #most-like i{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 40px;
    color: gold;
}

.posts-line{
    margin: auto;
    padding-top: 2px;
    width: 90%;
    background-color: gray;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}


.column {
    flex: 25%;
    max-width: 25%;
    padding: 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
}

.container{
    width: 90%;
    height: auto;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .column {
    flex: 50%;
    max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
    flex: 100%;
    max-width: 100%;
    }
}
/*  Estilos del la barra de busqueda */
.container-search{
    text-align: center;
    margin: 10px auto;
}
.container-search .search {
    float: center;
    background-color: #e9e9e9;
    border: 2px #767676 solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 300px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -ms-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    border-right: none;
    border: 1px #767676 solid;
}

.container-search .search:focus {
    width: 80%;
}

.container-search button{
    float: center;
    width: 100px;
    padding: 9.5px;
    background: #e60023;
    color: gray;
    font-size: 17px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    border: 1px #767676 solid;
}

.container-search button:hover{
    cursor: pointer;
    background-color: #e6003aad;
}

.container-search::after {
    content: "";
    clear: both;
    display: table;
}

/* Estilos del boton para ver las publicaciones */
.container-image {
    position: relative;
    width: 100%;
}


.container-image .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container-image .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container-image:hover .image {
    cursor: zoom-in;
    opacity: 0.3;
}

.container-image:hover .middle {
    opacity: 5;
}

.container-image .text button{
    width: 100px;
    padding: 10px;
    background: #e60023;
    font-size: 11px;
    cursor: pointer;
    border: 1px #767676 solid;
    color: #ffffff;
    font-weight: 700;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
}

.container-image .text button:hover{
    cursor: pointer;
    background-color: #e6003aad;
}

/* estilos para cargar nueva publicacion */

.container-post input[type="file"] {
    opacity: 0;
    width: 0;
    height: 0;
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
    text-rendering: auto;
    text-shadow: none;
    display: inline;
}

.container-post form label {
    margin: 10px auto;
    width: 30%;
    text-align: center;
    display: block;
    font-weight: 700;
    color: #ffffff;
    background-color: #e60023;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #767676;
    height: auto;
    cursor: pointer;
}

.container-post img{
    margin: 5px auto;
    width: 70%;
    height: 30%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container-post {
    border-radius: 10px;
    background-color: #ffffff;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 60%;
    height: min-content;
    margin: 10% auto;
    padding: 20px;
}

.container-post h3 {
    padding: 5px;
    display: inline;
}

.container-post select{
    font-size: 16px;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
}

.container-post hr{
    margin-top: 15px;
    background-color: #948f8f;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

.container-post input[type="text"] {
    all: unset;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 95%;
    padding: 15px;
    color: black;
}

.container-post #titulo{
    font-size: 20px;
}

.container-post #imgage-copy, #imgage-tag{
    margin: 10px;
    text-align: left;
}

.container-post button{
    font-family: 'Roboto Mono', monospace;
    background-color: #e60023;
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container-post button:hover{
    cursor: pointer;
    background-color: #e6003aad;
}

/* estilos para ver una publicacion */
.view-post-container{
    margin: 5% auto;
    width: 80%;
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 10px;
}

.view-post-container h1{
    text-align: center;
    padding-bottom: 15px;
}


.view-post-container table{
    margin: auto;
    border-collapse: collapse;
    position: relative;
}

.view-post-container img{
    border-radius: 20px;
    width: 100%;
    height: 390px;
    padding-right: 10px;
    border-bottom-left-radius: 20px;
    border: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container-view-image {
    position: relative;
    float: left;
}

.view-post-container table tr td .container-view-image .valorar{
    font-weight: 700;
    font-size: 25px;
    color: gold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view-post-container .valorar i{
    opacity: 0;
    color: yellow;
    margin-right: 5px;
}

.view-post-container .valorado{
    font-weight: 700;
    font-size: 25px;
    color: gold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view-post-container .valorado i{
    color: gold;
    margin-right: 5px;
}


.view-post-container .valorado i:hover{
    font-size: 30px;
    padding: 10px;
}

.view-post-container .container-view-image:hover .valorar i{
    opacity: 1;
}


.view-post-container  .valorar i:hover{
    font-size: 30px;
    padding: 10px;
}

.view-post-container  .valoraciones{
    font-size: 20px;
    padding: 2px;
    color: yellow;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.view-post-container  .valoraciones i{
    padding: 10px;
    letter-spacing: 2px;
}

.view-post-container  .copyright{
    color: yellow;
    position: absolute;
    bottom: 8px;
    left: 16px;
    padding: 10px;
    font-size: 20px;
}

.view-post-container .container-view-info button{
    margin: 5px;
    font-family: 'Roboto Mono', monospace;
    background-color: #e60023;
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
}

.view-post-container .container-view-info .align-items{
    text-align: right;
}

.view-post-container .container-view-info button:hover{
    cursor: pointer;
    background-color: #e6003aad;
}

.view-post-container .container-view-info form{
    display: inline;
    margin: 10px;
}

.view-post-container .container-view-info input[type="text"]{
    width: 40%;
    font-size: 14px;
}

.view-post-container .container-view-info .align-comment{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    border: 1px black solid;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.view-post-container .container-view-info h3{
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.view-post-container .post-contact a{
    text-decoration: none;
    font-size: 20px;
}

.view-post-container .container-view-info .align-items .fa-commenting{
    padding: 12.5px;
    background:#e60023;
    color: white;
    min-width: 30px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}

.view-post-container .container-view-info div{
    text-align: center;
}


.view-post-container .container-view-info .descripcion{
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 25px;
}

.view-post-container .align-comment-fecha {
    font-size: 12px;
    font-weight: 600;
}


/* Estilos de actualizar datos del usuario */

.container-update-user {
    width: 70%;
    height: min-content;
    margin: 5% auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container-update-user form{
    letter-spacing: 1.5px;
}

.container-update-user .user-image-container, .info-title-update {
    text-align: center;
}

.info-title-update{
    padding: 5px;
}

.info-title-update hr{
    margin-bottom: 15px;
}

.container-update-user .image-container-user{
    width: 100%;
    height: min-content;
    text-align: center;
    margin: 10px auto;
}

.container-update-user img{
    margin: 10px auto;
    width: 250px;
    height: 250px;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user-image-container label{
    color: #ffffff;
    padding: 10px;
    background-color: #e60023;
    font-weight: 700;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}

.user-image-container label:hover{
    cursor: pointer;
    background-color: #e6003aad;
}

.user-image-container input[type=file]{
    opacity: 0;
    width: 0;
    height: 0;
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
    text-rendering: auto;
    text-shadow: none;
    display: inline;
}

.container-update-user button{
    font-family: 'Roboto Mono', monospace;
    background-color: #e60023;
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container-update-user .update-button{
    text-align: center;
}
.container-update-user button{
    margin-right: 5px;
}
.container-update-user button:hover{
    cursor: pointer;
    background-color: #e6003aad;
}


/* Estilos del perfil del usuario */

.user-profile-container .user-info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    height: min-content;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 40%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    letter-spacing: 2px;
}

.user-profile-container table img{
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user-profile-container table{
    margin: auto;
    text-align: center;
}

.user-profile-container th, td{
    padding: 5px;
}

.user-profile-container button{
    font-family: 'Roboto Mono', monospace;
    background-color: #e60023;
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.user-profile-container button:hover{
    cursor: pointer;
    background-color: #e6003aad;
}

