/* Estilos generales */
*{
    padding: 0;
    margin: 0;
}

body{
    text-transform: capitalize;
    font-family: 'Roboto Mono', monospace;
    background-color: #ffffff;
}

/* Estilos de errores */
.error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    padding: 15px;
    margin: auto;
    width: 90%;
    height: min-content;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.error img{
    margin: auto;
    width: 40%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.error a {
    display: block;
    text-decoration: none;
    color: black;
    cursor: default;
}

.error button{
    font-family: 'Roboto Mono', monospace;
    background-color: #e60023;
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.error button:hover{
    cursor: pointer;
    background-color: #e6003aad;
}

/* Estilos del footer */

footer {
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #767676;
    color: #ffffff;
    text-align: center;
}

footer img{
    display: inline;
    position: absolute;
    bottom: 5px;
}

footer div{
    display: inline;
    padding-right: 10px;
}

/* Estilos de la barra de navegacion */

.navbar {
    width: 100%;
    background-color: #f3f3f3;
    overflow: auto;
    border: 2px solid #e7e7e7;
}

.navbar a {
    float: left;
    text-align: center;
    margin-right: 45px;
    padding: 14px;
    color: rgb(94, 92, 92);
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: rgba(255, 0, 0, 0.7);
    padding-right: 70px;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#userRight{
    float:right; 
    margin-right:5px
}


@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

