doctype html
html(lang="es-ES")
    include ../Modules/head.pug
    body
        include ../Modules/nav.pug
        div(class="container")
            div(class="row")
                div(class="column")
                    div(class="container-image" id="most-like")
                        img(src="/img/Public/39.jpg" class="image")
                        i(class="fa fa-star" aria-hidden="true")
                        div(class="middle")
                            div(class="text") 
                                form(action="#" method="post") 
                                    input(type="hidden" name="publicacion_id" value="")
                                    button(type='submit') Ver Publicacion
        hr(class="posts-line")
        div(class="container")
            div(class="row")
                div(class="column")
                    div(class="container-image")
                        img(src="/img/Public/39.jpg" class="image")
                        div(class="middle")
                            div(class="text") 
                                form(action="#" method="post") 
                                    input(type="hidden" name="publicacion_id" value="")
                                    button(type='submit') Ver Publicacion
                    div(class="container-image")
                        img(src="/img/Public/38.jpg" class="image")
                        div(class="middle")
                            div(class="text") 
                                form(action="#" method="post") 
                                    input(type="hidden" name="publicacion_id" value="")
                                    button(type='submit') Ver Publicacion
                    div(class="container-image")
                        img(src="/img/Public/41.jpg"  class="image")
                        div(class="middle")
                            div(class="text") 
                                form(action="#" method="post") 
                                    input(type="hidden" name="publicacion_id" value="")
                                    button(type='submit') Ver Publicacion
                    div(class="container-image")
                        img(src="/img/Public/42.jpg"  class="image")
                        div(class="middle")
                            div(class="text") 
                                form(action="#" method="post") 
                                    input(type="hidden" name="publicacion_id" value="")
                                    button(type='submit') Ver Publicacion
                    div(class="container-image")
                        img(src="/img/Public/43.jpg"  class="image")
                        div(class="middle")
                            div(class="text") 
                                form(action="#" method="post") 
                                    input(type="hidden" name="publicacion_id" value="")
                                    button(type='submit') Ver Publicacion
                    div(class="container-image")
                        img(src="/img/Public/48.png"  class="image")
                        div(class="middle")
                            div(class="text") 
                                form(action="#" method="post") 
                                    input(type="hidden" name="publicacion_id" value="")
                                    button(type='submit') Ver Publicacion
                    div(class="container-image")
                        img(src="/img/Public/48.jpg"  class="image")
                        div(class="middle")
                            div(class="text") 
                                form(action="#" method="post") 
                                    input(type="hidden" name="publicacion_id" value="")
                                    button(type='submit') Ver Publicacion
                
                div(class="column")
                    img(src="/img/Public/31.jpg")
                    img(src="/img/Public/50.jpg")
                    img(src="/img/Public/10.jpg")
                    img(src="/img/Public/11.jpg")
                    img(src="/img/Public/12.jpg")
                    img(src="/img/Public/49.jpg")
                    img(src="/img/Public/14.jpg")
                div(class="column")
                    img(src="/img/Public/15.png")
                    img(src="/img/Public/16.jpg")
                    img(src="/img/Public/17.jpg")
                    img(src="/img/Public/18.jpg")
                    img(src="/img/Public/42.jpg")
                    img(src="/img/Public/20.jpg")
                    img(src="/img/Public/21.jpg")
                div(class="column")
                    img(src="/img/Public/22.jpg")
                    img(src="/img/Public/23.jpg")
                    img(src="/img/Public/24.jpg")
                    img(src="/img/Public/25.jpg")
                    img(src="/img/Public/26.png")
                    img(src="/img/Public/27.png")
                    img(src="/img/Public/28.jpg")
        include ../Modules/footer.pug