doctype html
html(lang="es-ES")
    include ../Modules/head.pug
    body
        include ../Modules/nav.pug
        div(class="order-posts")
            form(action="/post/user" method="GET") 
                table
                    tr  
                        td 
                            select(name="by")
                                option(value="titulo") Titulo
                                option(value="categoria") Categoria 
                                option(value="fecha_creacion")  Fecha
                        td 
                            select(name="order")
                                option(value="ASC") ASC 
                                option(value="DESC") DESC
                        td 
                            button(type='submit') Submit
        hr(class="posts-line")
        div(class="container")
            div(class="row")
                if(posts)
                    for val in posts
                        div(class="column")
                            div(class="container-image")
                                if(val.imagen.estado == "publico")
                                    img(src=`/public/${val.imagen.nombre}` class="image")
                                if(val.imagen.estado == "protegido")
                                    img(src=`/private/${val.imagen.nombre}` class="image")
                                div(class="middle")
                                    div(class="text")
                                            a(href=`/post/show/${val.id}`)
                                                button(type='button') Ver Publicacion
        include ../Modules/footer.pug