doctype html
html(lang="es-ES")
    include ../Modules/head.pug
    body
        include ../Modules/nav.pug
        div(class="container-search")
            form(action="/search/publics" method="POST") 
                input(type="text" name="search" placeholder="Buscar.." class="search")
                button(type='submit')
                    i(class="fa fa-search")
        div(class="default-image")
            div(class="default-text")
                h1 Busca Imagenes
            img(src="/img/public_search.webp")
        div(class="container")
            div(class="row")
                if(posts)
                    for val in posts
                        div(class="column")
                            div(class="container-image")
                                img(src=`/publics_watermarks/${val.imagen.nombre}` class="image")
                                div(class="middle")
                                    div(class="text")
                                            a(href=`/public/show/${val.id}`)
                                                button(type='button') Ver Publicacion
        include ../Modules/footer.pug