doctype html
html(lang="es-ES")
    include ../Modules/head.pug
    body
        include ../Modules/nav.pug
        
        div(class="container-post")
            form(action="/upload/post" method="post" enctype="multipart/form-data")
                if(user)
                    input(type="hidden" name="usuario_id" value=`${user.id}`)
                input(type="text" name="titulo" id="titulo" placeholder="Agrega un titulo" required)
                div(class="estado")
                    h3 Tipo de Publicacion
                    select(name="estado" required)
                            option(value="publico" selected) Publica
                            option(value="protegido") Protegida
                hr
                
                div(id="image-container")
                    img(src="/img/image-preview.png" id="image-preview")
                hr
                input(type="text" name="descripcion" id="descripcion" placeholder="Dinos de que trata tu publicacion" required)
                div(id="imgage-copy")
                    h3 derechos de autor
                    select(name="derechos" required)
                        option(value="-" selected) Derechos
                hr
                div(id="imgage-tag")
                    h3 Categorias
                    select(name="categorias" required)
                        option(value="-" selected) Categoria
                hr
                input(type="text" name="etiquetas" id="etiquetas" placeholder="TAGS: clima, lugares, transportes, viajes" required)
                
                button(type='submit') Guardar 

        script. 
            var preview = (event)=>{
                var file_image = new FileReader()
                var preview_img = document.getElementById('image-preview')

                file_image.onload = ()=>{
                    if(file_image.readyState == 2){
                        preview_img.src = file_image.result
                    }
                }

                file_image.readAsDataURL(event.target.files[0])
            }
        include ../Modules/footer.pug